<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            Search: <input ng-model="query"><br/>
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="price">Price</option>
            </select>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="product in products | filter:query | orderBy:orderProp">
                    <a href="#/list/{{product.name}}" class="thumb"><img ng-src="{{product.image}}"></a>
                    <h4><a href="#/list/{{product.name}}">{{product.name}}</a> - {{product.price}} eur</h4>
                    <!-- <button ng-show="product.canPurchase">Add to cart</button>-->
                </li>
            </ul>
        </div>
    </div>
</div>
