<div class="container-fluid" ng-controller="reposInfoCntrl">
    <h1 class="text-center">github repository browser</h1>

    <div class="row">
        <div class="col-md-3">
            <select ng-model="user" ng-change="getUserRepos(user)" ng-options="dev.githubLogin as dev.name for dev in devs">{{user}}
                <option value="">-- choose user --</option>
            </select>
        </div>
        <div class="col-md-6" ng-show="ReposData.length > 0">
            <div class="center-block" style="width:30%">
                <img ng-src="{{ReposData[0].owner.avatar_url}}" class="img-responsive" />
            </div>
            <br/>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="repo in ReposData">
                    <h4>{{repo.full_name}}</h4>

                    <h4><a ng-href="{{repo.html_url}}">{{repo.html_url}}</a></h4>

                    <h4>{{repo.description}}</h4>

                </li>
            </ul>
        </div>
    </div>
</div>